body
{
	background:url("https://image.slidesdocs.com/responsive-images/background/memphis-abstract-hs-electives-education-sociology-subject-for-high-school-9th-grade-concepts-in-probability-and-statistics-geometric-powerpoint-background_44dc6cddd9__960_540.jpg"), cover;  color: #e5111b;
	font-size: 20px}

	.login_div1 , .login_div2
	{
	
		background: rgb(18, 54, 7);
		padding: 10px;
		color: rgb(124, 124, 222);
		float: none;
		border-radius: 15px;
		border-color: blanchedalmond;
		border-width: 5px;
		border-style: ridge;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}


h1{ padding: 50px; font-size: 50px;}